<footer class="navbar navbar-fixed-bottom" role="contentinfo">

  <div class="container-fluid">
    <p class="text-center text-muted">
      Copyright <%= Time.now.year %> Covize, inc. All rights reserved.
    </p>
  </div>

</footer>